<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a function</title>
</head>
<body>
    <h3>Basic</h3>
    <ul>
        {{range .People}}
        <li>{{.Name}} - {{.Age}}</li>
        {{end}}
    </ul>

    <h3>ToUpper function</h3>
    <ul>
        {{range .People}}
        <li>{{toUpper .Name}} - {{.Age}}</li>
        {{end}}
    </ul>

    <h3>firstThree function</h3>
    <ul>
        {{range .People}}
        <li>{{firstThree .Name}} - {{.Age}}</li>
        {{end}}
    </ul>

    <h3>format time</h3>
    <p>Time before formatting: {{.Time}}</p>
    <p>Time after formatting: {{fmtTime .Time}}</p>

    <h3>piping functions</h3>
    Original Value: 
      {{.Value}}
    Value doubled: 
      {{fdouble .Value}}
    Value doubled and squared: 
      {{.Value | fdouble | fsquare}}
    Value doubled and squared and square rooted: 
      {{.Value | fdouble | fsquare | fsqroot}}

    <h3>predefined global function - index</h3>
    {{index .People 2}}
    {{index .People 0}}
    {{index .People 1}}

    <h3>predefined global function - if</h3>
    {{range .People}}
        {{if .Admin}}
        Admin - {{.Name}}
        {{end}}
    {{end}}

    <h3>predefined global function - lt/gt/eq</h3>
    {{range .People}}
        {{if gt .Age 23}}
        Age > 23 - {{.Name}}, {{.Age}}
        {{end}}
    {{end}}
</body>
</html>