<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a map!</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.}}</li>
    {{end}}


    {{range $key, $val := .}}
    <li>{{$key}} - {{$val}}</li>
    {{end}}
</ul>
</body>
</html>