<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    Hotel:   {{.Name}}<br>
    Region:  {{.Region}}<br>
    Address: {{.Address}} {{.City}} {{.Zip}}<br>
{{end}}

</body>
</html>