{{define "polarbear"}}
Here is my polar bear template.  
* The filename does not matter as long as the 
define statement matches.

Also, here is some data from within the nested 
template: {{.}}
{{end}}