<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{range .}}
        {{.Type}}<br />
        {{range .Meals}}
            {{.Name}}<br />
            - {{.Description}}<br />
            * {{.Price}}<br />
        {{end}}
    {{end}}
</body>
</html>